*
!.gitignore
!file-struct.tar
!change-struct.tar
!file-researcher.sh
!file-researcher/**
!file-researcher/
!head-and-tail.sh
!json-researcher.sh
!find-files.sh
!find-files-extension.sh
!count-files.sh
!skip-lines.sh
!.opencode/
!.opencode/**
